*{
margin: 0;
padding: 0;
}

header{
  background-color: antiquewhite;
  height: 20vh; 
  /* vh는 뷰포트(사용자 기기화면)를 기준으로 크기가 결정된다
  20vh 사용자화면의 20%를 의미한다 */  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main{
  background-color: coral;
  height: 60vh;
}

footer{
  background-color: gray;
  height: 20vh;
}

nav{
  background-color: cadetblue;
  height: 25%;
}

li{
  list-style-type: none;
}

nav ul{
  display: flex; 
  align-items: center;
  height: 100%;
}

nav li{
  /* border: 1px solid black; */
  width: 80px;
  padding: 0 0 0 10px;
  /* padding-left: 10px; */
}

/* 모달창 */
.modal-box{
  background-color: beige;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top : 0;
  left: 0;
}

.login-box{
  background-color: white;
  width: 300px;
  padding: 30px;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.login-btn-wrap{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.x-box{
  float: right;
  font-size: 25px;
  font-weight: bold;
  top: 10px;
  right: 10px;
  cursor: pointer;
}